Repository googleapis/google-api-nodejs-client, pull requests merged in 2021-02, with the labels that each got.

#2508 build: migrate to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
Labels: automerge, cla: yes

#2519 build: change name of flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  CONTRIBUTING.md
  disclaimers.json
  synth.metadata
Labels: cla: yes, context: partial

#2528 fix(samples): use people API for sample
  samples/oauth2.js
Labels: cla: yes, samples
